

.jumbotron {
  background-color: lightblue;
}

.container {
  text-align: center;
}

.left {
  background-color: white;
}

.right {
  background-color: white;
}

.weather {
  background-color: #fff9a7;
  border-radius: 10px;
  margin-bottom: 20px;
}

.filters {
  padding: 10px 10px 10px 10px;
  background-color: lightblue;
  border-radius: 10px;
}

.results {
  background-color: #fff9a7;
  border-radius: 10px;
}

.weather-condition {
  text-align: left;
  margin-left: 10px;
}

.weather-icon {
  width: 50%;
}

#imgClothes {
  height: 400px;
}
